Q1

In [1]:
import pandas as pd

pd.__version__

'2.3.3'

In [2]:
df = pd.read_csv('car_fuel_efficiency.csv')

print(df.head())

   engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                  170            3.0       159.0     3413.433759
1                  130            5.0        97.0     3149.664934
2                  170            NaN        78.0     3079.038997
3                  220            4.0         NaN     2542.392402
4                  210            1.0       140.0     3460.870990

   acceleration  model_year  origin fuel_type         drivetrain  num_doors  \
0          17.7        2003  Europe  Gasoline    All-wheel drive        0.0
1          17.8        2007     USA  Gasoline  Front-wheel drive        0.0
2          15.1        2018  Europe  Gasoline  Front-wheel drive        0.0
3          20.2        2009     USA    Diesel    All-wheel drive        2.0
4          14.4        2009  Europe  Gasoline    All-wheel drive        2.0

   fuel_efficiency_mpg
0            13.231729
1            13.688217
2            14.246341
3            16.912736
4            12.488369

Q2

In [6]:
df.shape[0]

9704

Q3

In [7]:
fuel_type_counts = df['fuel_type'].value_counts()
print(fuel_type_counts)

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

Q4

In [9]:
columns_with_missing = df.isnull().any()
count_of_columns_with_missing = columns_with_missing.sum()

print(count_of_columns_with_missing)

4

Q5

In [10]:
asia_cars = df[df['origin'] == 'Asia']
max_mpg_asia = asia_cars['fuel_efficiency_mpg'].max()

print(max_mpg_asia)

23.759122836520497

Q6

In [11]:
# Find the median value of the horsepower column in the dataset.
initial_median_hp = df['horsepower'].median()
print(f"Initial Median Horsepower: {initial_median_hp}")

# Next, calculate the most frequent value of the same horsepower column.
most_frequent_hp = df['horsepower'].mode()[0]
print(f"Most Frequent Horsepower (Mode): {most_frequent_hp}")

# Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
df['horsepower_imputed'] = df['horsepower'].fillna(most_frequent_hp)

# Now, calculate the median value of horsepower once again.
final_median_hp = df['horsepower_imputed'].median()
print(f"Final Median Horsepower (After imputation with Mode): {final_median_hp}")

Initial Median Horsepower: 149.0
Most Frequent Horsepower (Mode): 152.0
Final Median Horsepower (After imputation with Mode): 152.0

Q7

In [15]:
import numpy as np

# 1. Select all the cars from Asia, 2. Select only columns vehicle_weight and model_year
asia_data = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']]

# 3. Select the first 7 values
X_df = asia_data.head(7)

# 4. Get the underlying NumPy array, X.
X = X_df.values
print(f"Shape of X: {X.shape}")

# Define y. We must use only the first 5 values to match the 5 rows of X.
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
print(f"Shape of y: {y.shape}")

# 5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T @ X

# 6. Invert XTX
try:
    XTX_inv = np.linalg.inv(XTX)
except np.linalg.LinAlgError:
    print("Error: Matrix XTX is singular and cannot be inverted.")

# 8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = XTX_inv @ X.T @ y

# 9. What's the sum of all the elements of the result?
sum_of_w = w.sum()

print("\n--- Linear Algebra Results ---")
print(f"Weight vector w:\n{w}")
print(f"Sum of all elements in w: {sum_of_w}")

Shape of X: (7, 2)
Shape of y: (7,)

--- Linear Algebra Results ---
Weight vector w:
[0.01386421 0.5049067 ]
Sum of all elements in w: 0.5187709081074016